<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>180709175970-6is17r5628o65h6vf51dpjteerb8ac5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180709175970-6is17r5628o65h6vf51dpjteerb8ac5k</string>
	<key>API_KEY</key>
	<string>AIzaSyCjz5pKA-MuITt9lbc0iHdwimiSUn1Awoo</string>
	<key>GCM_SENDER_ID</key>
	<string>180709175970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EvertonCarneiro.PenseRa-pido</string>
	<key>PROJECT_ID</key>
	<string>penserapido-bacef</string>
	<key>STORAGE_BUCKET</key>
	<string>penserapido-bacef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:180709175970:ios:e91aa36ad8703d60</string>
	<key>DATABASE_URL</key>
	<string>https://penserapido-bacef.firebaseio.com</string>
</dict>
</plist>